.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: row;
    padding-bottom: 0%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar .leftside{
    flex: 50%;
    height:100%;
    display: flex;
    align-items: center;

}

.navbar .rightside {
    flex: 50%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

}

.navbar .leftside img{
    width: 150px;
    padding-left: 80px;
}

.navbar .rightside a{
    padding: 20px;
    color: azure;
    text-decoration: none;
    font-size: larger;
    
}
.rightside button{
    background-color: black;
    font-size: 19px;
    padding: 5px;

}


@media screen and (min-width:940px) {
    .rightside button:hover{
      background-color: #0aff23;

    }
    .Navmob
    {
      display: none;
    }
  
  }
 
    @media screen and (max-width: 960px) {
      .navbar .rightside .b{
        display: none;
      }
      .navbar {
        position: sticky;
      }
      ul {
        list-style-type: none;
    }
      .NavbarItems {
        position: relative;
      }
  
      .nav-menu {
        display: flex;
        
        flex-direction: column;
        width: 95%;
        height: 90vh;
        position: absolute;
        align-items: flex-start;
        justify-content: flex-start;
        top: 134px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
    
      .nav-menu.active {
        
        background: #323131;
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 1;
      }
    
      .Navmob a{
        text-align: center;
        background-color: #c2d000;
        margin: 30px;
        width: 70%;
        padding-left: 0;
        padding: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
      
      }
    
      .Navmob a:hover {
        color: #95ff13;
        transform: scale(1.2);
        transition: all 0.3s ease;
      }
    
      .nav-item:hover {
        border-width: 3px;
        border-color: #0aff23;
      }
    
      .nav-item {
        width: 100%;
      }
    
   
      .menu-icon {
        display: block;
        position: absolute;
        top: 40px;
        right: 20px;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
      }
    
      .fa-times {
        color: #fff;
        font-size: 2rem;
      }
    
    }
    @media screen and (max-width: 700px) {
      .navbar .rightside .b{
        display: none;
      }
      .navbar {
        position: sticky;
      }
      ul {
        list-style-type: none;
    }
      .NavbarItems {
        position: relative;
      }
  
      .nav-menu {
        display: flex;
        
        flex-direction: column;
        width: 90%;
        height: 90vh;
        position: absolute;
        align-items: flex-start;
        justify-content: flex-start;
        top: 134px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
    
      .nav-menu.active {
        
        background: #262626;
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 1;
      }
    
      .Navmob a{
        text-align: center;
        background-color: #ffe102;
        margin-left: 15px;
        margin: 10px;
        width: 70%;
        padding-left: 0;
        padding: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 2opx;
      
      }
    
      .Navmob a:hover {
        color: #000000;
        transform: scale(1.2);
        transition: all 0.3s ease;
      }
    
      .nav-item:hover {
        border-width: 3px;
        border-color: #0aff23;
      }
    
      .nav-item {
        width: 100%;
      }
    
   
      .menu-icon {
        display: block;
        position: absolute;
        top: 40px;
        right: 20px;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
      }
    
      .fa-times {
        color: #fff;
        font-size: 2rem;
      }
    
    }